.root{
	-fx-background-color: linear-gradient(#1976d2, #1976d2, #1976d2, #1566c1);
}

.button{
	-fx-background-color: rgb(255, 255, 255);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.99), 2, 0, 1, 1 );
}

.button:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.99), 2.5, 0, 2, 2 );
}

.label{
	-fx-text-fill: #1565c0;
	-fx-font-family: Fresca-Regular;
	-fx-font-size: 30px;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-radius:3px; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.75), 1, 0, 1, 1 );
}

.check-box:selected .mark {
	-fx-background-color: #0D47A1;
}

.check-box:selected .box {
	-fx-background-color: white;
}


